@using DaZhongTransitionLiquidation.Infrastructure.DbEntity
@using DaZhongTransitionLiquidation.Areas.AssetManagement.Models;
@{
    ViewBag.Title = "固定资产净值(月)";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = ViewBag.User as Sys_User;
    var permission = user.GetCurrentPagePermission();
}
@section js{
    <link href="@Url.CusContent("~/_theme/_js/pivot.css")" rel="stylesheet" />
    <script src="@Url.CusContent("~/Areas/AnalysisManagementCenter/Views/_js/AssetsNetValue.js")"></script>
    <script src="@Url.CusContent("/_theme/DatePicker/WdatePicker.js")"></script>
    <script src="~/_theme/_js/jquery-ui-1.8.20.js"></script>
    <script src="~/_theme/_js/jquery-ui-1.8.20.min.js"></script>
    <script src="~/_theme/_js/pivot.js"></script>
}
<div class="mk">
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">查询</span></div> 
    </div>
    <div class="body_mk" style="height: 60px;">
        <table style="margin-top: 20px; width: 340px; margin-left: 20px;">
            <tr style="height: 45px;">
                <td style="width: 60px;text-align: right"><span class="spanText">年月：</span></td>
                <td style="width: 75px;text-align: center">
                    <input id="DateOfYear" type="text" onfocus="WdatePicker({ realDateFmt: 'yyyy', dateFmt: 'yyyy', lang: 'zh-cn', onpicked: pickedFunc })" class="input_text form-control" style="width: 75px" validatetype="required">
                    <p style="float: left;padding-top:5px">-</p>
                </td>
                <td style="width: 75px;">
                    <select id="Month" class="input_text form-control" style="width: 75px; float: left">
                        <option value="01">1月</option>
                        <option value="02">2月</option>
                        <option value="03">3月</option>
                        <option value="04">4月</option>
                        <option value="05">5月</option>
                        <option value="06">6月</option>
                        <option value="07">7月</option>
                        <option value="08">8月</option>
                        <option value="09">9月</option>
                        <option value="10">10月</option>
                        <option value="11">11月</option>
                        <option value="12">12月</option>
                    </select>
                </td>
                <td style="width: 105px;">
                    <button id="btnSearch" type="button" class="buttons" style="float:right"><i class="iconfont btn_icon">&#xe679;</i><span style="margin-left: 7px; float: left;">查询</span></button>
                </td>
            </tr>
            <tr>
        </table>
    </div>
</div>
<div class="mk">
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">数据列表</span></div>
    </div>
    <div class="body_mk" style="height: 100%;">
        <div id="table"></div>
    </div>
</div>
<input type="hidden" id="EditPermission" value="@permission.Edit.ToString()" />
<input type="hidden" id="NewPermission" value="@permission.New.ToString()" />