@using DaZhongTransitionLiquidation.Infrastructure.DbEntity
@using DaZhongTransitionLiquidation.Areas.PaymentManagement.Models;
@{
    ViewBag.Title = "支付订单/订单打印";
    Layout = "";
}
@section js{
    <script src="@Url.Content("~/_theme/DatePicker/WdatePicker.js")"></script>  
}
<link href="@Url.Content("~/Areas/CapitalCenterManagement/Views/_css/OrderListDraftPrint.css")" rel="stylesheet" />
<style>
  
</style>
<table id="hideButton" style="margin-top: 10px;">
    <tr style="height: 50px;">
        <td style="width: 95px;">
            <button id="btnPrint" type="button" class="buttons" style=""><i class="" style="color: black !important;"></i><span style="margin-left: 7px; float: left;">打印</span></button>
        </td>
    </tr>
</table>

<div class="mk">
    @*<div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">打印单据</span></div>
    </div>*@
    <div class="body_mk" style="height: 800px;width:1000px;margin:auto;text-align:center">
        <style type="text/css">
            #VoucherListTitle td {
                font-family: SimSun;
            }
            #VoucherList td {
                font-family: SimSun;
            }
        </style>
        <table id="VoucherListTitle" style="width:1000px">
            <tr style="height:50px">
                <td style="text-align: center;font-size: 35px;" colspan="2">大众交通(集团)股份有限公司大众出租汽车分公司</td>
            </tr>
            <tr style="height:50px">
                <td style="text-align: center;font-size: 35px;" colspan="2">付 款 凭 单</td>
            </tr>
            <tr style="height:30px">
                <td style="text-align: right;" colspan="2">附件张数：<label id="AttachmentNumber" for=""></label> 张</td>
            </tr>
            <tr style="height:30px">
                <td style="text-align: center;width: 850px;"><label id="FillingDate" for="" style="font-size: 25px;margin-left: 135px;font-family: SimSun;"></label></td>
                <td style="text-align: right;">其中发票：<label id="InvoiceNumber" for=""></label> 张</td>
            </tr>
        </table>
        <br />
        <table id="VoucherList" style="width:1000px;margin-left: 10px;" border="1" cellspacing="0">
            <tr style="height:30px">
                <td style="text-align: center;font-size: 20px;" rowspan="3" colspan="2">受款人/部门/单位</td>
                <td style="text-align: left;width: 500px;" rowspan="3">&nbsp;&nbsp;<label id="PaymentCompany" for="" style="font-size: 18px;font-family: SimSun;"></label>@*<input id="PaymentCompany" type="text" style="width: 750px;" class="form-control" />*@</td>
                <td style="text-align: center;font-size: 20px;" colspan="3">支付方式</td>
            </tr>
            <tr style="height:30px">
                <td style="text-align: center;width: 100px;">现金</td>
                <td style="text-align: center;width: 100px;">银行</td>
                <td style="text-align: center;width: 100px;">其他</td>
            </tr>
            <tr style="height:30px">
                <td style="text-align: center;"><label id="Cash" for="" style="font-family: SimSun;"></label></td>
                <td style="text-align: center;"><label id="Bank" for="" style="font-family: SimSun;"></label></td>
                <td style="text-align: center;"><label id="Other" for="" style="font-family: SimSun;"></label></td>
            </tr>
            <tr style="height:230px">
                <td style="text-align: center;width: 100px;font-size: 20px;">付  款<br><br><br>内  容</td>
                <td style="text-align: left;" colspan="5">&nbsp;&nbsp;<label id="PaymentContents" for="" style="font-size: 18px;font-family: SimSun;"></label></td>
            </tr>
            <tr style="height:60px">
                <td style="text-align: center;font-size: 20px;">金额</td>
                <td style="text-align: left;font-size: 20px;" colspan="2">&nbsp;人民币（大写）  <label id="CapitalizationMoney" for="" style="font-family: SimSun;"></label></td>

                <td style="text-align: left;font-size: 25px;" colspan="3">&nbsp;¥ <label id="Money" for="" style="font-size: 20px;font-family: SimSun;"></label></td>
            </tr>
        </table>
        <br/>
        <table style="width: 1000px;margin-left: 20px;">
            <tr style="height:70px">
                <td style="text-align: center;width: 50px;font-size: 18px;font-family: SimSun;">企 负<br>&nbsp; 责<br>业 人</td>
                <td style="text-align: center;"><label id="EnterpriseLeader" for="" style="font-size: 18px;font-family: SimSun;"></label></td>
                <td style="text-align: left;width: 50px;font-size: 18px;font-family: SimSun;">分 负<br>&nbsp; 责<br>管 人</td>
                <td style="text-align: center;"><label id="ResponsibleLeader" for="" style="font-size: 18px;font-family: SimSun;"></label></td>
                <td style="text-align: left;width: 50px;font-size: 18px;font-family: SimSun;">计 审<br>财<br>部 核</td>
                <td style="text-align: center;"><label id="JiCaiBuExamine" for="" style="font-size: 18px;font-family: SimSun;"></label></td>
                <td style="text-align: left;width: 50px;font-size: 18px;font-family: SimSun;">部 主<br><br>门 管</td>
                <td style="text-align: center;"><label id="DepartmentHead" for="" style="font-size: 18px;font-family: SimSun;"></label></td>
                <td style="text-align: left;width: 50px;font-size: 18px;font-family: SimSun;">出<br><br>纳</td>
                <td style="text-align: center;"><label id="Cashier" for="" style="font-size: 18px;font-family: SimSun;"></label></td>
                <td style="text-align: left;width: 50px;font-size: 18px;font-family: SimSun;">受 经<br>款 办<br>人 人</td>
                <td style="text-align: center;"><label id="Payee" for="" style="font-size: 18px;font-family: SimSun;"></label></td>
            </tr>
        </table>
    </div>
</div>
<script>
    var vguid = '@ViewBag.VGUID';
</script>
<script src="@Url.Content("~/_theme/_js/jquery-3.2.1.min.js")"></script>
<script src="@Url.Content("~/_theme/tool/ejq.js")"></script>
<script src="@Url.Content("~/_theme/_js/tool.js")"></script>
<script src="@Url.Content("~/_theme/tool/jquery.PrintArea.min.js")"></script>
<script src="@Url.Content("~/_theme/jqwidgets-ver5.5.0/jqwidgets/jqx-all.js")"></script>
<script src="@Url.Content("~/_theme/jqwidgets-ver5.5.0/jqwidgets/jqxtabs.js")"></script>
<script src="@Url.Content("~/_theme/jqwidgets-ver5.5.0/jqwidgetsExtensions/jqxext.js")"></script>
<script src="@Url.Content("~/_theme/jqwidgets-ver5.5.0/jqwidgets/globalization/globalize.js")"></script>
<script src="@Url.Content("~/_theme/jqwidgets-ver5.5.0/jqwidgets/globalization/globalize.culture.zh.js")"></script>
<script src="@Url.Content("~/_theme/jqwidgets-ver5.5.0/scripts/demos.js")"></script>
<script src="@Url.Content("~/Areas/CapitalCenterManagement/Views/_js/OrderListDraftPrint.js")"></script>
