@using DaZhongTransitionLiquidation.Infrastructure.DbEntity
@{
    Sys_User user = ViewBag.SysUser;
    bool isSysadmin = user?.LoginName == "sysAdmin";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    var currentModuleRolePermission = ViewBag.CurrentModulePermission as List<Sys_Role_Module>;
}
<link href="@Url.CusContent("~/_theme/jqwidgets-ver3.8.1/styles/bootstrap.min.css")" rel="stylesheet" />
<link href="@Url.CusContent("~/_theme/css/common.css")" rel="stylesheet" />
<link href="@Url.CusContent("~/_theme/systemIcon/demo.css")" rel="stylesheet" />
<link href="@Url.CusContent("~/_theme/systemIcon/iconfont.css")" rel="stylesheet" />
<link href="@Url.CusContent("~/_theme/css/layoutCommon.css")" rel="stylesheet" />
<link href="@Url.CusContent("~/_theme/css/moduleCommon.css")" rel="stylesheet" />
<link href="/_theme/Validate/validate.css" rel="stylesheet" />
<link href="/Views/_css/home-index.css" rel="stylesheet" />
<link rel="stylesheet" href="/_theme/jqwidgets-ver3.8.1/jqwidgets/styles/jqx.base.css" />
<link rel="stylesheet" href="/_theme/jqwidgets-ver3.8.1/jqwidgetsExtensions/jqxext.css" />
<style type="text/css">
    #logoDiv img {
        margin-top: 20px;
        margin-left: 20px;
    }

    .img-style {
        height: 150px;
        width: 150px;
    }

    #moduleDIV {
        /*margin-top: 180px;*/
    }

    #btnEdit {
        margin-top: 10px;
        background-color: inherit;
        background-color: transparent; /*IE中使用*/
        color: #555;
        font-family: calibri;
        border: 0;
    }
</style>

<body style="background-image: url('/_theme/images/hbg.png')">
    <div style="width: 100%; height: 35px;">
        <table style="width:100%; border:0; border-collapse:0; border-spacing:0;">
            <tr style="height:60px; line-height:60px;">
                <td align="right" style="width:70px;"><i id="shrinkMenue" class="icon iconfont" style="font-size:30px; cursor:pointer; color:white;">&#xe617;</i></td>
                <td style="color:white; font-size:28px; font-family:Calibri; padding-left:20px; font-weight:bold;width:1200px"><span id="gotoHome" style="cursor:pointer;color:white">大众出租财务共享服务平台</span></td>
                <td>
                    @*<select id="AccountModeCode" class="" style="border: 0;
                        display: block;
                        color: white;
                        position: relative;
                        min-height: 1.146667rem;
                        line-height: 1.146667rem;
                        white-space: nowrap;
                        width: 60%;
                        overflow: hidden;
                        padding-right: .6rem;
                        background-color: snow;
                        background: transparent;
                        -webkit-appearance: none;" onchange="getCompanyCode()">
                                            @{
                                                foreach (var item in ViewBag.AccountMode)
                                                {
                                                    <option value="@item.Code">@item.Descrption</option>
                                                }
                                            }
                                        </select>*@

                    <div class="dropdown">
                        <a id="drop4" href="javascript:void(0);" style="color: white; text-decoration:none;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @user.AccountModeName<span class="caret" style="color: white;border-top-color: white;"></span>
                        </a>
                        <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
                            @{
                                foreach (var item in ViewBag.AccountMode)
                                {
                                    <li role="presentation"><a role="menuitem" id="aChangePwd" href="#" vguid="@item.Code" tabindex="1">@item.Descrption</a></li>
                                }
                            }
                            @*<li role="presentation"><a role="menuitem" id="aChangePwd" href="#" vguid="@user.Vguid" tabindex="1">修改密码</a></li>
                                <li role="presentation"><a role="menuitem" id="aLogout" tabindex="2" href="#">退出系统</a></li>*@
                        </ul>
                    </div>
                </td>
                <td></td>
                <td style="width:45px;">
                    <img src="../../_theme/images/1076213.gif" style="border-radius:99px; width:30px;" />
                </td>
                <td style="width: 120px; color: white; font-size: 14px; font-family: Calibri;">
                    <div class="dropdown">
                        <a id="drop5" href="javascript:void(0);" style="color: white; text-decoration:none;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @user.LoginName<span class="caret" style="color: white;border-top-color: white;"></span>
                        </a>
                        <ul id="menu2" class="dropdown-menu" role="menu" aria-labelledby="drop5">
                            <li role="presentation"><a role="menuitem" id="aChangePwd" href="#" vguid="@user.Vguid" tabindex="1">修改密码</a></li>
                            <li role="presentation"><a role="menuitem" id="aLogout" tabindex="2" href="#">退出系统</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="moduleDIV" style="width: 100%;margin-top: 80px;">
        <div class="home-message" style="text-align: left;">
            @for (int i = 0; i < 9; i++)
            {
                if(!isSysadmin && i >= currentModuleRolePermission.Count)
                {
                    return;
                }
                if (isSysadmin || currentModuleRolePermission[i].ModuleVGUID.ToString().ToUpper() == "50F3C129-5C30-4B2F-A942-6B309C6278C6" && currentModuleRolePermission[i].Reads == 1)
                {
                    <a url="" href="#" id="DriverCenterManagement" class="moudle" data-coordinate="1">
                        <div class="home-message-modular">
                            <div class="img_Parent_div">
                                <img class="img-style" src="/_theme/images/System Management.png" />
                            </div>
                            <span class="writing">驾驶员结算中心</span>
                        </div>
                    </a>
                }
                if (isSysadmin || currentModuleRolePermission[i].ModuleVGUID.ToString().ToUpper() == "185A294A-8BC7-4F9B-943A-B4F6F8791587" && currentModuleRolePermission[i].Reads == 1)
                {
                    <a url="" href="#" id="CapitalCenterManagement" data-coordinate="1">
                        <div class="home-message-modular">
                            <div class="img_Parent_div">
                                <img class="img-style" src="/_theme/images/Accrual.png" />
                            </div>
                            <span class="writing">资金结算中心</span>
                        </div>
                    </a>
                }
                if (isSysadmin || currentModuleRolePermission[i].ModuleVGUID.ToString().ToUpper() == "2C708F01-9229-48B8-9CAB-63407D1945E0" && currentModuleRolePermission[i].Reads == 1)
                {
                    <a url="" href="#" id="AccountingCenterManagemnet" data-coordinate="1">
                        <div class="home-message-modular">
                            <div class="img_Parent_div">
                                <img class="img-style" src="/_theme/images/Payment.png" />
                            </div>
                            <span class="writing">会计核算中心</span>
                        </div>
                    </a>
                }
                if (isSysadmin || currentModuleRolePermission[i].ModuleVGUID.ToString().ToUpper() == "368296C7-667C-4316-96BC-1370ED9C50BC" && currentModuleRolePermission[i].Reads == 1)
                {
                    <a url="" href="#" id="BigDataManagement" class="moudle" data-coordinate="1">
                        <div class="home-message-modular">
                            <div class="img_Parent_div">
                                <img class="img-style" src="/_theme/images/Accrual.png" />
                            </div>
                            <span class="writing">大数据管理中心</span>
                        </div>
                    </a>
                }

                if (isSysadmin || currentModuleRolePermission[i].ModuleVGUID.ToString().ToUpper() == "B9B5E47C-C646-4D0B-877D-BA456968C346" && currentModuleRolePermission[i].Reads == 1)
                {
                    <a url="" href="#" id="ReimbursementCenterManagemnet" data-coordinate="1">
                        <div class="home-message-modular">
                            <div class="img_Parent_div">
                                <img class="img-style" src="/_theme/images/Send Email.png" />
                            </div>
                            <span class="writing">费用报销中心</span>
                        </div>
                    </a>
                }

                if (isSysadmin || currentModuleRolePermission[i].ModuleVGUID.ToString().ToUpper() == "F1715105-E901-46E4-83A1-52B26BCAADF3" && currentModuleRolePermission[i].Reads == 1)
                {
                    <a url="" href="#" id="ReportCenterManagemnet" data-coordinate="1">
                        <div class="home-message-modular">
                            <div class="img_Parent_div">
                                <img class="img-style" src="/_theme/images/Business Data.png" />
                            </div>
                            <span class="writing">报表管理中心</span>
                        </div>
                    </a>
                }

                if (isSysadmin || currentModuleRolePermission[i].ModuleVGUID.ToString().ToUpper() == "6BAA4F3E-BCEA-45C4-8D57-F2E9A96CE06C" && currentModuleRolePermission[i].Reads == 1)
                {
                    <a url="" href="#" id="BudgetAnalysisManagemnet" class="moudle" data-coordinate="1">
                        <div class="home-message-modular">
                            <div class="img_Parent_div">
                                <img class="img-style" src="/_theme/images/Report.png" />
                            </div>
                            <span class="writing">预算、分析、考核</span>
                        </div>
                    </a>
                }

                if (isSysadmin || currentModuleRolePermission[i].ModuleVGUID.ToString().ToUpper() == "9F0F218B-9AEA-4917-A322-66604E9C29CF" && currentModuleRolePermission[i].Reads == 1)
                {
                    <a url="" href="#" id="TaxAuditManagement" class="moudle" data-coordinate="1">
                        <div class="home-message-modular">
                            <div class="img_Parent_div">
                                <img class="img-style" src="/_theme/images/Payment.png" />
                            </div>
                            <span class="writing">税务、审计、统计</span>
                        </div>
                    </a>
                }

                if (isSysadmin || currentModuleRolePermission[i].ModuleVGUID.ToString().ToUpper() == "23EF85FF-E6F1-46B7-8DBD-8FD99BEBB24A" && currentModuleRolePermission[i].Reads == 1)
                {
                    <a url="" href="#" id="SystemManagement" class="moudle" data-coordinate="1">
                        <div class="home-message-modular">
                            <div class="img_Parent_div">
                                <img class="img-style" src="/_theme/images/System Management.png" />
                            </div>
                            <span class="writing">系统管理</span>
                        </div>
                    </a>
                }

            }
           
        </div>
    </div>

    <!-- 模态弹出 -->
    <div class="container">
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="changePwdDialog">
            <div class="modal-dialog modal-sm" style="width: 100%; padding-right: 20px; margin-top: 100px;">
                <div class="modal-content" style="width: 445px; margin-left: auto; margin-right: auto;">
                    <div class="modal-header" style="width: 100%; margin-left: auto; margin-right: auto;">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel_title" style="color: #555; font-family: Calibri;">修改密码</h4>
                    </div>
                    <div class="modal-body" style="width: 100%;">
                        <table style="width: 100%;">
                            <tr style="height: 45px;">
                                <td style="width: 75px;text-align: left"><span class="spanText">旧密码</span></td>
                                <td style="width: 150px;">
                                    <input id="txtOldPwd" type="password" class="input_text form-control" validatetype="required" />
                                </td>
                            </tr>
                            <tr style="height: 45px;">
                                <td style="width: 75px;text-align: left"><span class="spanText">新密码</span></td>
                                <td style="width: 150px;">
                                    <input id="txtNewPwd" type="password" class="input_text form-control" validatetype="required" />
                                </td>
                            </tr>
                            <tr style="height: 45px;">
                                <td style="width: 75px;text-align: left"><span class="spanText">确认密码</span></td>
                                <td style="width: 150px;">
                                    <input id="txtNewPwdAgain" type="password" class="input_text form-control" validatetype="required" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button id="changePwd_OKButton" type="button" class="btn btn-warning" style="width: 85px;background-color: #16609c!important;margin-left: 18px; margin-top: 20px"><i class="iconfont btn_icon" style="color: white !important;margin-left: 0">&#xe6f3;</i><span style="margin-left: 7px; float: left;">保存</span></button>
                        <button id="changePwd_CancelBtn" type="button" class="btn btn-danger" style="width: 85px; border-color: #16609c !important; background-color: #16609c !important;margin-left: 18px; margin-top: 20px"><i class="iconfont btn_icon" style="color: white !important;margin-left: 0">&#xe678;</i><span style="margin-left: 7px; float: left;">取消</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="@Url.CusContent("~/_theme/_js/jquery-3.2.1.min.js")"></script>
    <script src="@Url.CusContent("~/_theme/_js/bootstrap.min.js")"></script>
    <script src="@Url.CusContent("~/_theme/Validate/validate.js")"></script>
    <script src="@Url.CusContent("~/_theme/_js/menueCookie.js")"></script>
    <script src="@Url.CusContent("~/_theme/_js/common.js")"></script>
    <script src="@Url.CusContent("~/_theme/jqwidgets-ver5.5.0/jqwidgets/jqx-all.js")"></script>
    <script src="@Url.CusContent("~/_theme/jqwidgets-ver5.5.0/jqwidgets/jqxtabs.js")"></script>
    <script src="@Url.CusContent("~/_theme/jqwidgets-ver5.5.0/jqwidgetsExtensions/jqxext.js")"></script>
    <script src="@Url.CusContent("~/_theme/jqwidgets-ver5.5.0/jqwidgets/globalization/globalize.js")"></script>
    <script src="@Url.CusContent("~/_theme/jqwidgets-ver5.5.0/jqwidgets/globalization/globalize.culture.zh.js")"></script>
    <script src="@Url.CusContent("~/_theme/jqwidgets-ver5.5.0/scripts/demos.js")"></script>
    <script src="@Url.CusContent("~/_theme/tool/ejq.js")"></script>
    <script src="@Url.CusContent("~/_theme/tool/jquery-form.min.js")"></script>
    <script src="@Url.CusContent("~/_theme/_js/tool.js")"></script>
    <script src="@Url.CusContent("~/Views/_js/layout.js")"></script>
    <script src="@Url.CusContent("~/Areas/HomePage/Views/_js/HomePage.js")"></script>

    <input type="hidden" id="txtVguid" value="6df093a6-08be-4128-9cdd-8e0d111f371f" />
    <input type="hidden" id="txtModule" value="101,102,201,202,203,204,205,301,302,303,401,501,502,503,504,505,601,602,605,606,701" />
    <input type="hidden" id="txtModuleID" value="" />
</body>


<!-- 中部条件 -->
@*<div class="table">
        <div class="cell" style="width: 316px; height: 161.38px; background: rgb(245, 245, 243); position: absolute; opacity: 1; top: 0px; left: 0px; transition: top 0.5s ease 0s, left 0.5s ease 0s, width 0.5s ease 0s, height 0.5s ease 0s, opacity 0.5s ease 0s;" data-delay="1" data-height="150" data-width="282" data-state="move" id="1-2">
            <div style="width:calc(100% - 6px);border-top:10px solid #F5F5F3;margin-left:4px;height:95%;background:#ff0000;cursor: pointer;" onclick="window.location.href = '/CapitalCenterManagement/BankFlowTemplate/Index';">
                <span class="chartAdd  icon-plus"> 资金结算中心 </span>
            </div>
        </div>
        <div class="cell" style="width: 316px; height: 161.38px; background: rgb(245, 245, 243); position: absolute; opacity: 1; top: 0px; left: 331px; transition: top 0.5s ease 0s, left 0.5s ease 0s, width 0.5s ease 0s, height 0.5s ease 0s, opacity 0.5s ease 0s;" data-delay="2" data-height="150" data-width="282" data-state="move" id="2-2">
            <div style="width:calc(100% - 6px);border-top:10px solid #F5F5F3;margin-left:4px;height:95%;background:#ff6a00">
                <span class="chartAdd  icon-plus"> 会计核算中心 </span>
            </div>
        </div>
        <div class="cell" style="width: 316px; height: 161.38px; background: rgb(245, 245, 243); position: absolute; opacity: 1; top: 0px; left: 662px; transition: top 0.5s ease 0s, left 0.5s ease 0s, width 0.5s ease 0s, height 0.5s ease 0s, opacity 0.5s ease 0s;" data-delay="3" data-height="150" data-width="282" data-state="move" id="3-2">
            <div style="width:calc(100% - 6px);border-top:10px solid #F5F5F3;margin-left:4px;height:95%;background:#ffd800">
                <span class="chartAdd  icon-plus"> 费用报销中心 </span>
            </div>
        </div>
        <div class="cell" style="width: 316px; height: 161.38px; background: rgb(245, 245, 243); position: absolute; opacity: 1; top: 0px; left: 993px; transition: top 0.5s ease 0s, left 0.5s ease 0s, width 0.5s ease 0s, height 0.5s ease 0s, opacity 0.5s ease 0s;" data-delay="4" data-height="150" data-width="282" data-state="move" id="4-2">
            <div style="width:calc(100% - 6px);border-top:10px solid #F5F5F3;margin-left:4px;height:95%;background:#b6ff00">
                <span class="chartAdd  icon-plus"> 报表管理中心 </span>
            </div>
        </div>
        <div class="cell" style="width: 316px; height: 161.38px; background: rgb(245, 245, 243); position: absolute; opacity: 1; top: 176.38px; left: 0px; transition: top 0.5s ease 0s, left 0.5s ease 0s, width 0.5s ease 0s, height 0.5s ease 0s, opacity 0.5s ease 0s;" data-delay="5" data-height="150" data-width="282" data-state="move" id="5-2">
            <div style="width:calc(100% - 6px);border-top:10px solid #F5F5F3;margin-left:4px;height:95%;background:#4cff00">
                <span class="chartAdd  icon-plus"> 预算、分析、考核 </span>
            </div>
        </div>
        <div class="cell" style="width: 316px; height: 161.38px; background: rgb(245, 245, 243); position: absolute; opacity: 1; top: 176.38px; left: 331px; transition: top 0.5s ease 0s, left 0.5s ease 0s, width 0.5s ease 0s, height 0.5s ease 0s, opacity 0.5s ease 0s;" data-delay="6" data-height="150" data-width="282" data-state="move" id="6-2">
            <div style="width:calc(100% - 6px);border-top:10px solid #F5F5F3;margin-left:4px;height:95%;background:#00ff90">
                <span class="chartAdd  icon-plus"> 驾驶员结算中心 </span>
            </div>
        </div>
        <div class="cell" style="width: 316px; height: 161.38px; background: rgb(245, 245, 243); position: absolute; opacity: 1; top: 176.38px; left: 662px; transition: top 0.5s ease 0s, left 0.5s ease 0s, width 0.5s ease 0s, height 0.5s ease 0s, opacity 0.5s ease 0s;" data-delay="7" data-height="150" data-width="282" data-state="move" id="7-2">
            <div style="width:calc(100% - 6px);border-top:10px solid #F5F5F3;margin-left:4px;height:95%;background:#0094ff">
                <span class="chartAdd  icon-plus"> 大数据管理中心 </span>
            </div>
        </div>
        <div class="cell" style="width: 316px; height: 161.38px; background: rgb(245, 245, 243); position: absolute; opacity: 1; top: 176.38px; left: 993px; transition: top 0.5s ease 0s, left 0.5s ease 0s, width 0.5s ease 0s, height 0.5s ease 0s, opacity 0.5s ease 0s;" data-delay="8" data-height="150" data-width="282" data-state="move" id="8-2">
            <div style="width:calc(100% - 6px);border-top:10px solid #F5F5F3;margin-left:4px;height:95%;background:#4800ff">
                <span class="chartAdd  icon-plus"> 税务、审计、统计 </span>
            </div>
        </div>
    </div>*@
