@using DaZhongTransitionLiquidation.Infrastructure.DbEntity
@{
    ViewBag.Title = "ORACLE对接/科目维护(8个段)";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentModuleRolePermission = ViewBag.CurrentModulePermission as Sys_Role_Module;
}

@section js{
    <script src="@Url.CusContent("~/_theme/DatePicker/WdatePicker.js")"></script>
    <script src="@Url.CusContent("~/Areas/PaymentManagement/Views/_js/CompanySection.js")"></script>

}

@section css{

}
<style type="text/css">
        /*.jqx-grid-cell-pinned {
            background-color:none !important;
        }*/
    #verticalScrollBarjqxSubjectSetting {
            visibility: inherit !important;
    }
    </style>
@if (currentModuleRolePermission.Adds == 1 || currentModuleRolePermission.Deletes == 1)
{
    <table style="margin-top: 10px;">
        <tr style="height: 50px;">
            @if (currentModuleRolePermission.Adds == 1)
            {
                <td style="width: 95px;">
                    <button id="btnAdd" type="button" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe634;</i><span style="margin-left: 7px; float: left;">新增</span></button>
                </td>
            }
            @if (currentModuleRolePermission.Deletes == 1)
            {
                @*<td style="width: 95px;">
                        <button id="btnDelete" type="button" class="buttons hide"><i class="iconfont btn_icon" style="color: black !important;">&#xe640;</i><span style="margin-left: 7px; float: left;">删除</span></button>
                    </td>*@
            }
            <td style="width: 95px;">
                <button id="btnEditDo" type="button" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe6f1;</i><span style="margin-left: 7px; float: left;">启用</span></button>
            </td>
            <td style="width: 95px;">
                <button id="btnEditDis" type="button" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe6f2;</i><span style="margin-left: 7px; float: left;">禁用</span></button>
            </td>
            @*<td style="width: 95px;">
                <button id="btnTongBu" type="button" class="buttons"><i class="iconfont btn_icon" style="color: black !important;display:none">&#xe634;</i><span style="margin-left: 7px; float: left;">同步</span></button>
            </td>*@
        </tr>
    </table>
}

<div id="ACChange" class="mk" style="display:none">
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">条件</span></div>
    </div>
    <div class="body_mk" style="height: 60px;">
        <table style="margin-top: 20px; margin-left: 20px;">
            <tr style="height: 45px;">
                <td class="td_span">账套：</td>
                <td class="td_input">
                    <select id="AccountModeCode" class="input_text form-control" style="display:none;" onchange="getCompanyCode()">
                        @{
                            foreach (var item in ViewBag.AccountMode)
                            {
                                <option value="@item.Code">@item.Descrption</option>
                            }
                        }
                    </select>
                </td>
                <td class="td_span"><span id="hideCompany">公司：</span></td>
                <td class="td_input">
                    <select id="CompanyCode" class="input_text form-control" style="width: 430px;display:none">
                       
                    </select>
                </td>
                @*<td style="width: 95px;">
                    <button id="btnSearch" type="button" class="buttons"><i class="iconfont btn_icon">&#xe679;</i><span style="margin-left: 7px; float: left;">查询</span></button>
                </td>
                <td>
                    <button id="btnReset" type="button" class="buttons"><i class="iconfont btn_icon">&#xe671;</i><span style="margin-left: 7px; float: left;">重置</span></button>
                </td>*@
            </tr>

        </table>
    </div>
</div>
<!-- 底部表格 -->
<div class="mk">
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">数据列表</span></div>
    </div>
</div>
<div id='jqxTabs'>
    <ul>
        <li style="margin-left: 30px;">
            <div style="height: 20px; margin-top: 5px;">
                账套段
            </div>
        </li>
        <li>
            <div style="height: 20px; margin-top: 5px;">
                公司段
            </div>
        </li>
        <li>
            <div style="height: 20px; margin-top: 5px;">
                科目段
            </div>
        </li>
        <li>
            <div style="height: 20px; margin-top: 5px;">
                核算段
            </div>
        </li>
        <li>
            <div style="height: 20px; margin-top: 5px;">
                成本中心段
            </div>
        </li>
        <li>
            <div style="height: 20px; margin-top: 5px;">
                备用1
            </div>
        </li>
        <li>
            <div style="height: 20px; margin-top: 5px;">
                备用2
            </div>
        </li>
        <li>
            <div style="height: 20px; margin-top: 5px;">
                往来段
            </div>
        </li>

    </ul>
    <div style="overflow: hidden;">
        <div id="jqxTable0" class="jqxTable"></div>
    </div>
    <div style="overflow: hidden;">
        <div id="jqxTable1" class="jqxTable" style=""></div>
    </div>
    <div id="jqxTreeTable2" style="overflow: hidden;">
        <div id="jqxTable2" class="jqxTable"></div>
    </div>
    <div style="overflow: hidden;">
        <div id="jqxTable3" class="jqxTable"></div>
    </div>
    <div style="overflow: hidden;">
        <div id="jqxTable4" class="jqxTable"></div>
    </div>
    <div style="overflow: hidden;">
        <div id="jqxTable5" class="jqxTable"></div>
    </div>
    <div style="overflow: hidden;">
        <div id="jqxTable6" class="jqxTable"></div>
    </div>
    <div style="overflow: hidden;">
        <div id="jqxTable7" class="jqxTable"></div>
    </div>
</div>
<style>
    .mk{
        width:99% !important;
    }
    .input_text {
        width: 340px;
    }
    .modal-head {
        padding: 0px 5px 10px;
        margin-top: 0px;
        text-align: left;
        border-top: 1px solid #e5e5e5;
    }
</style>
<!-- 底部表格 -->
<input type="hidden" id="EditPermission" value="@currentModuleRolePermission.Edit" />
@*<input id="SubjectCode" name="SubjectCode" type="hidden" />*@
<div class="container">
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="AddNewBankDataDialog">
        <div class="modal-dialog modal-sm" style="width: 100%; padding-right: 20px; margin-top: 100px;">
            <div class="modal-content" style="width: 500px; margin-left: auto; margin-right: auto;">
                <div class="modal-header" style="width: 100%; margin-left: auto; margin-right: auto;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel_title" style="color: #555; font-family: Calibri;">新增数据</h4>
                </div>
                <div class="modal-body" style="width: 100%;">
                    <table style="width: 100%;">
                        <tr style="height: 45px;">
                            <td style="width: 100px;text-align: left"><span class="spanText">编码</span></td>
                            <td>
                                <input id="txtCode" type="text" class="input_text form-control" validatetype="required,decimalNumber" />
                            </td>
                        </tr>
                        <tr style="height: 45px;">
                            <td style="width: 100px;text-align: left"><span class="spanText">描述</span></td>
                            <td>
                                <input id="txtDescrption" type="text" class="input_text form-control" validatetype="required" />
                            </td>
                        </tr>
                        <tr id="SubjectShow" class="SubjectTr" style="height: 45px; display:none">
                            <td style="width: 100px;text-align: left"><span class="spanText">是否一级科目</span></td>
                            <td>
                                <select id="txtFirstSubjects" class="input_text form-control" validatetype="required">
                                    <option value="0">否</option>
                                    <option value="1">是</option>
                                </select>
                            </td>
                        </tr>
                        <tr id="SubjectCode" class="" style="height: 45px; display:none">
                            <td style="width: 100px;text-align: left"><span class="spanText">父级科目编码</span></td>
                            <td>
                                <input id="txtParentCode" type="text" readonly="readonly" class="input_text form-control" validatetype="required" />
                            </td>
                        </tr>
                        <tr style="height: 45px;">
                            <td style="width: 100px;text-align: left"><span class="spanText">备注</span></td>
                            <td>
                                <input id="txtRemark" type="text" class="input_text form-control" validatetype="" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="AddNewBankData_OKButton" type="button" class="btn btn-warning" style="width: 85px;background-color: #16609c!important;margin-left: 18px; margin-top: 10px"><i class="iconfont btn_icon" style="color: white !important;margin-left: 0">&#xe6f3;</i><span style="margin-left: 7px; float: left;">保存</span></button>
                    <button id="AddNewBankData_CancelBtn" type="button" class="btn btn-danger" style="width: 85px; border-color: #16609c !important; background-color: #16609c !important;margin-left: 18px; margin-top: 10px"><i class="iconfont btn_icon" style="color: white !important;margin-left: 0">&#xe678;</i><span style="margin-left: 7px; float: left;">取消</span></button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="AddSectionDialog">
        <div class="modal-dialog modal-sm" style="width: 100%; padding-right: 20px; margin-top: 100px;">
            <div class="modal-content" style="width: 840px; margin-left: auto; margin-right: auto;">
                <div class="modal-header" style="width: 100%; margin-left: auto; margin-right: auto;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel_titles" style="color: #555; font-family: Calibri;">配置信息</h4>
                </div>
                <div class="modal-body" style="width: 100%;">
                    <div id="jqxTableSetting" class="jqxTable"></div>
                    <div id="jqxSubjectSetting" class="jqxTable"></div>
                    <input id="hidSubjectCode" name="hidSubjectCode" class="hide" />
                    <input id="hidType" name="hidType" class="hide" />
                </div>
                <div class="modal-footer">
                    <button id="AddSection_OKButton" type="button" class="btn btn-warning" style="width: 85px;background-color: #16609c!important;margin-left: 18px; margin-top: 10px"><i class="iconfont btn_icon" style="color: white !important;margin-left: 0">&#xe6f3;</i><span style="margin-left: 7px; float: left;">保存</span></button>
                    <button id="AddSection_CancelBtn" type="button" class="btn btn-danger" style="width: 85px; border-color: #16609c !important; background-color: #16609c !important;margin-left: 18px; margin-top: 10px"><i class="iconfont btn_icon" style="color: white !important;margin-left: 0">&#xe678;</i><span style="margin-left: 7px; float: left;">取消</span></button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="AddCompanyDialog">
        <div class="modal-dialog modal-sm" style="width: 100%; padding-right: 20px; margin-top: 100px;">
            <div class="modal-content" style="width: 1450px; margin-left: auto; margin-right: auto;">
                <div class="modal-header" style="width: 100%; margin-left: auto; margin-right: auto;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel_titles2" style="color: #555; font-family: Calibri;">配置银行信息</h4>
                </div>
                <div class="modal-head">
                    <button id="AddCompany_OKButton" type="button" class="btn btn-warning" style="width: 85px;background-color: #16609c!important;margin-left: 18px; margin-top: 10px"><i class="iconfont btn_icon" style="color: white !important;margin-left: 0">&#xe634;</i><span style="margin-left: 7px; float: left;">新增</span></button>
                    <button id="AddCompany_CancelBtn" type="button" class="btn btn-danger" style="width: 85px; border-color: #16609c !important; background-color: #16609c !important;margin-left: 18px; margin-top: 10px"><i class="iconfont btn_icon" style="color: white !important;margin-left: 0">&#xe640;</i><span style="margin-left: 7px; float: left;">删除</span></button>
                </div>
                <div class="modal-body" style="width: 100%;">
                    <div id="jqxCompanySetting" class="jqxTable" style="margin-top: -22px;"></div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="AddCompanyBankDataDialog">
        <div class="modal-dialog modal-sm" style="width: 100%; padding-right: 20px; margin-top: 100px;">
            <div class="modal-content" style="width: 420px; margin-left: auto; margin-right: auto;">
                <div class="modal-header" style="width: 100%; margin-left: auto; margin-right: auto;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel_title3" style="color: #555; font-family: Calibri;">新增数据</h4>
                </div>
                <div class="modal-body" style="width: 100%;">
                    <table style="width: 100%;">
                        <tr style="height: 45px;">
                            <td style="width: 90px;text-align: left"><span class="spanText">开户行</span></td>
                            <td>
                                <input id="BankName" style="width: 277px;" type="text" class="input_text form-control" validatetype="required" />
                            </td>
                        </tr>
                        <tr style="height: 45px;">
                            <td style="text-align: left"><span class="spanText">银行账号</span></td>
                            <td>
                                <input id="BankAccount" style="width: 277px;" type="text" class="input_text form-control" validatetype="required" />
                                <input id="CompanyCode" name="CompanyCode" class="hide" />
                            </td>
                        </tr>
                        <tr style="height: 45px;">
                            <td style="text-align: left"><span class="spanText">银行户名</span></td>
                            <td>
                                <input id="BankAccountName" style="width: 277px;" type="text" class="input_text form-control" validatetype="required" />
                            </td>
                        </tr>
                        <tr style="height: 45px;">
                            <td style="text-align: left;"><span class="spanText">账号类别</span></td>
                            <td>
                                <select id="AccountType" style="width: 275px;" class="input_text form-control" validatetype="required">
                                    <option value="基本户">基本户</option>
                                    <option value="一般户">一般户</option>
                                    <option value="社保账户">社保账户</option>
                                </select>
                            </td>
                        </tr>
                        <tr style="height: 45px;">
                            <td style="text-align: left"><span class="spanText">初始余额</span></td>
                            <td>
                                <input id="InitialBalance" style="width: 277px;" type="text" class="input_text form-control" validatetype="decimalNumber" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="AddCompanyBankData_OKButton" type="button" class="btn btn-warning" style="width: 85px;background-color: #16609c!important;margin-left: 18px; margin-top: 10px"><i class="iconfont btn_icon" style="color: white !important;margin-left: 0">&#xe6f3;</i><span style="margin-left: 7px; float: left;">保存</span></button>
                    <button id="AddCompanyBankData_CancelBtn" type="button" class="btn btn-danger" style="width: 85px; border-color: #16609c !important; background-color: #16609c !important;margin-left: 18px; margin-top: 10px"><i class="iconfont btn_icon" style="color: white !important;margin-left: 0">&#xe678;</i><span style="margin-left: 7px; float: left;">取消</span></button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="AddAccountSettingDialog">
        <div class="modal-dialog modal-sm" style="width: 100%; padding-right: 20px; margin-top: 100px;">
            <div class="modal-content" style="width: 1050px; margin-left: auto; margin-right: auto;">
                <div class="modal-header" style="width: 100%; margin-left: auto; margin-right: auto;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel_titles2" style="color: #555; font-family: Calibri;">配置银行信息</h4>
                </div>
                <div class="modal-body" style="width: 100%;">
                    <div id="jqxAccountSetting" class="jqxTable"></div>
                </div>
                <div class="modal-footer">
                    <button id="AddAccount_OKButton" type="button" class="btn btn-warning" style="width: 85px;background-color: #16609c!important;margin-left: 18px; margin-top: 10px"><i class="iconfont btn_icon" style="color: white !important;margin-left: 0">&#xe6f3;</i><span style="margin-left: 7px; float: left;">保存</span></button>
                    <button id="AddAccount_CancelBtn" type="button" class="btn btn-danger" style="width: 85px; border-color: #16609c !important; background-color: #16609c !important;margin-left: 18px; margin-top: 10px"><i class="iconfont btn_icon" style="color: white !important;margin-left: 0">&#xe678;</i><span style="margin-left: 7px; float: left;">取消</span></button>
                </div>
            </div>
        </div>
    </div>
</div>