@using DaZhongTransitionLiquidation.Infrastructure.DbEntity
@using DaZhongTransitionLiquidation.Infrastructure.ViewEntity
@using SyntacticSugar
<!DOCTYPE html>
@{
    var currentUserRoleModules = ViewBag.CurrentUserRoleModules as List<V_Sys_Role_Module>;
    var userInfo = ViewBag.User as Sys_User;
    //var menu = userInfo.GetCurrentModuleMenu();
    bool isadmin = userInfo?.LoginName == "admin" || userInfo?.LoginName == "sysAdmin";
}
@*<link rel="stylesheet" type="text/css" href="/_theme/jquery-easyui-1.7.0/themes/default/easyui.css">*@
@*<link href="@Url.CusContent("~/_theme/layer/layer/theme/default/layer.css")" rel="stylesheet" />*@

<link href="~/_theme/css/m-base.css" rel="stylesheet" />
<link href="~/_theme/css/LeftNav.css" rel="stylesheet" />
<html>
<head>
    <title></title>
</head>
<body>
    @*<div id="sm" class="easyui-sidemenu" data-options="data:data"></div>*@
    <div id="menu" class="left"></div>

    @*<script>
            var data = @userInfo.Permission;
        </script>*@


</body>
</html>
<script src="@Url.CusContent("~/_theme/_js/jquery-3.2.1.min.js")"></script>
<script src="@Url.CusContent("/_theme/jquery-easyui-1.7.0/jquery.easyui.min.js")"></script>
@*<script src="@Url.CusContent("~/_theme/layer/layer/layer.js")"></script>*@
@*<script src="~/_theme/layer/layer/layerui.js"></script>
<script src="~/_theme/layer/layer/element.js"></script>*@
<script src="~/_theme/_js/LeftNav.js"></script>
<script>
    var data = @Html.Raw(userInfo.GetCurrentModuleMenu().ModelToJson());

    $.leftNav(".left", data);

    //Menu();
    //function Menu() {
    //    $.ajax({
    //        type: "get",
    //        url: "json/nav.json",
    //        dataType: "json",
    //        data: {},
    //        success: function (data) {
    //            console.log("返回数据", data);
    //            $.leftNav(".left", data);
    //        },
    //        error: function (erro) {
    //            console.log("出现错误", erro);
    //        }
    //    });
    //}

</script>