@using DaZhongTransitionLiquidation.Infrastructure.DbEntity
@using DaZhongTransitionLiquidation.Areas.PaymentManagement.Models;
@{
    ViewBag.Title = "支付订单/订单明细";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentModuleRolePermission = ViewBag.CurrentModulePermission as Sys_Role_Module;
    var companyCode = ViewBag.CompanyCode as List<Business_SevenSection>;
    Sys_User user = ViewBag.SysUser;
    var moduleMenu = user.GetCurrentPagePermission();
}
@section js{
    <script src="@Url.CusContent("~/_theme/DatePicker/WdatePicker.js")"></script>
    <script src="@Url.CusContent("~/Areas/CapitalCenterManagement/Views/_js/OrderListDraftDetail.js")"></script>
}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="imagetoolbar" content="no" />

<style>
    #OrderInfo td {
        /*width: 35px;*/
    }

    #OrderInfo label {
        margin-bottom: 0px !important;
    }
</style>

<table id="hideButton" style="margin-top: 10px;">
    <tr style="height: 50px;">
        @if (moduleMenu.Submit)
        {
            <td style="width: 95px;">
                <button id="btnUp" type="button" class="buttons" style="display:none"><i class="iconfont btn_icon" style="color: black !important;">&#xe6f3;</i><span style="margin-left: 7px; float: left;">提交</span></button>
            </td>
        }
        <td style="width: 95px;">
            <button id="Comeback" type="button" class="buttons" style=""><i class="iconfont btn_icon" style="color: black !important;">&#xe678;</i><span style="margin-left: 7px; float: left;">返回</span></button>
        </td>
        <td>
            <input id="Status" name="Status" value="" class="hide" />
            <input id="VGUID" name="VGUID" class="hide" value="@ViewBag.VGUID" />
        </td>
    </tr>
</table>



<div class="mk">
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">订单信息</span></div>
    </div>
    <div class="body_mk" style="height: 80px;">
        <table id="OrderInfo" style="width:100%">
            <tr style="height:80px">
                <td style="text-align: right;">公司：</td>
                <td style="text-align: left;">@*<label id="OrderCompany" for=""></label>*@<textarea id='OrderCompany' style='width: 270px;height: 80px;' class='input_text form-control'></textarea></td>
                <td style="text-align: right;">供应商类别：</td>
                <td style="text-align: left;width: 100px;"><label id="PaymentCompany" for=""></label></td>
                <td style="text-align: right;">经办人：</td>
                <td style="text-align: left;width: 100px;"><label id="Payee" for=""></label></td>
                <td style="text-align: right;">金额：</td>
                <td style="text-align: left;width: 100px;"><label id="Money" for=""></label></td>
                <td style="text-align: right;">备注：</td>
                <td style="text-align: left;">@*<label id="PaymentContents" for=""></label>*@<textarea id='PaymentContents' style='width: 420px;height: 80px;' class='input_text form-control'></textarea></td>
            </tr>
        </table>
    </div>
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">银行信息</span></div>
    </div>
    <div class="body_mk" style="height: 110px;">
        <table id="BankInfo" style="width:90%;margin-top: 13px;">
            <tr style="height:50px">
                <td style="text-align: right;">对方开户行：</td>
                <td style="text-align: left;"><input id="CollectionBank" type="text" style="width: 200px;" class="input_text form-control" readonly="readonly" /></td>
                <td style="text-align: right;">对方账号：</td>
                <td style="text-align: left;"><input id="CollectionAccount" type="text" style="width: 200px;" class="input_text form-control" readonly="readonly" /></td>
                <td style="text-align: right;">对方户名：</td>
                <td style="text-align: left;"><input id="CollectionBankAccountName" type="text" style="width: 200px;" class="input_text form-control" readonly="readonly" /></td>
            </tr>
            <tr style="height:50px">
                <td style="text-align: right;">我方开户行：</td>
                <td style="text-align: left;">
                    <select id="PayBank" class="input_text form-control" style="width: 200px" onchange="payBankChange()">
                        @{
                            foreach (var item in ViewBag.PayAccount)
                            {
                                <option value="@item.BankName">@item.BankName</option>
                            }
                        }
                    </select>
                </td>
                <td style="text-align: right;">我方账号：</td>
                <td style="text-align: left;"><input id="PayAccount" type="text" value="@ViewBag.PayAccount[0].BankAccount" style="width: 200px;" class="input_text form-control" readonly="readonly" /></td>
                <td style="text-align: right;">我方户名：</td>
                <td style="text-align: left;"><input id="PayBankAccountName" type="text" value="@ViewBag.PayAccount[0].BankAccountName" style="width: 200px;" class="input_text form-control" readonly="readonly" /></td>
            </tr>
        </table>
    </div>
    <table style="width: 100%;">
        <tr style="height:100px">
            <td style="text-align: left;width:30%;border-right: 1px solid #ccc;">
                <div class="header_mk">
                    <div class="header_icon"></div>
                    <div class="header_text_div"><span class="header_text_span">付款凭证</span></div>
                </div>
                <div id="ImgPaymentReceipt" class="body_mk" style="height: 110px;">

                </div>
            </td>
            <td style="text-align: left;width:30%;border-right: 1px solid #ccc;">
                <div class="header_mk">
                    <div class="header_icon"></div>
                    <div class="header_text_div"><span class="header_text_span">发票</span></div>
                </div>
                <div id="ImgInvoiceReceipt" class="body_mk" style="height: 110px;">

                </div>
            </td>
            <td style="text-align: left;width:30%">
                <div class="header_mk">
                    <div class="header_icon"></div>
                    <div class="header_text_div"><span class="header_text_span">OA审批单</span></div>
                </div>
                <div id="ImgApprovalReceipt" class="body_mk" style="height: 110px;">

                </div>
            </td>
        </tr>
        <tr>
            <td style="text-align: left;border-right: 1px solid #ccc;">
                <div class="header_mk">
                    <div class="header_icon"></div>
                    <div class="header_text_div"><span class="header_text_span">合同</span></div>
                </div>
                <div id="ImgContract" class="body_mk" style="height: 110px;">

                </div>
            </td>
            <td style="text-align: left;border-right: 1px solid #ccc;">
                <div class="header_mk">
                    <div class="header_icon"></div>
                    <div class="header_text_div"><span class="header_text_span">清单、清册</span></div>
                </div>
                <div id="ImgDetailList" class="body_mk" style="height: 110px;">

                </div>
            </td>
            <td style="text-align: left;">
                <div class="header_mk">
                    <div class="header_icon"></div>
                    <div class="header_text_div"><span class="header_text_span">其他</span></div>
                </div>
                <div id="ImgOtherReceipt" class="body_mk" style="height: 110px;">

                </div>
            </td>
        </tr>
    </table>












</div>

@*<div id='jqxTabs' style="display:none">
        <ul>
            <li style="margin-left: 30px;">
                <div style="height: 20px; margin-top: 5px;">
                    发票
                </div>
            </li>
            <li>
                <div style="height: 20px; margin-top: 5px;">
                    付款凭证
                </div>
            </li>
            <li>
                <div style="height: 20px; margin-top: 5px;">
                    其他1
                </div>
            </li>
            <li>
                <div style="height: 20px; margin-top: 5px;">
                    其他2
                </div>
            </li>
            <li>
                <div style="height: 20px; margin-top: 5px;">
                    其他3
                </div>
            </li>
            <li>
                <div style="height: 20px; margin-top: 5px;">
                    其他4
                </div>
            </li>
        </ul>
        <div style="overflow: hidden;">
            <div id="content">
                <div id="gallery">
                    <div id="gallery_nav">
                        <a class="on" rel="img1" href="javascript:;"><img src="/_theme/images/System Management.png" style="width: 100px;" /></a>
                        <a rel="img2" href="javascript:;"><img src="/_theme/images/Accrual.png" style="width: 100px;" /></a>
                        <a rel="img3" href="javascript:;"><img src="/_theme/images/Payment.png" style="width: 100px;" /></a>
                        <a rel="img4" href="javascript:;"><img src="/_theme/images/Business Data.png" style="width: 100px;" /></a>
                    </div>
                    <div id="gallery_output">
                        <img id="img1" src="/_theme/images/System Management.png" />
                        <img id="img2" src="/_theme/images/Accrual.png" />
                        <img id="img3" src="/_theme/images/Payment.png" />
                        <img id="img4" src="/_theme/images/Business Data.png" />
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div style="overflow: hidden;">

        </div>
        <div style="overflow: hidden;">

        </div>
        <div style="overflow: hidden;">

        </div>
        <div style="overflow: hidden;">

        </div>
        <div style="overflow: hidden;">

        </div>
    </div>*@

@*</div>*@

